.userModalBackground {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.3;
  transition: 0.3s;
}
.userModalBackgroundHidden {
  opacity: 0;
  visibility: hidden;
}

.userModal {
  position: absolute;
  top: calc(100% + 20px);
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 224px;
  min-height: 218px;
  padding: 30px;
  background: white;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.102);
  font-size: 13px;
  box-sizing: border-box;
  transition: 0.3s;
}
.hiddenUserModal {
  opacity: 0;
  transform: translateY(-100%);
  visibility: hidden;
}

.closeButton {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 25px;
  color: var(--primary-color);
}
.closeButton:hover {
  transform: scale(1.05);
}

.addressContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.addressContainer p {
  color: var(--primary-color);
  line-height: 13px;
  letter-spacing: 0px;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.linksContainer a:hover {
  color: var(--dark-color);
  cursor: pointer;
}
