@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
/* Poppins && Roboto */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #8d929a;
  --secondary-color: #fdbe0e;
  --light-primary-color: #d1d1d1;
  --light-color: white;
  --dark-color: black;
  --warning-color: #fdbe0e;
  --done-color: #5db36f;
  --negate-color: #E64949;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --default-max-width: 1290px;
  /* fonts */
  --main-font: "Poppins", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --font-size-1: 30px;
  --font-size-2: 24px;
  --font-size-3: 18px;
  --font-size-4: 14px;
  --font-size-5: 13px;
  --primary-text-color: gray;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--main-font);
  background-color: #F6F6F6;
}

.centralizer {
  width: 100%;
  max-width: var(--default-max-width);
  margin: 0 auto;
  padding: 0 20px;
}
