.iconsContainer {
  display: flex;
  gap: 20px;
  color: var(--light-primary-color);
  font-size: 21px;
}

.iconBox {
  position: relative;
}
.iconBox span {
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: var(--warning-color);
  color: var(--light-color);
}
